.scrollButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--gradient-primary);
    color: var(--text-light);
    border: none;
    border-radius: 1000px;
    padding: 0.8rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-base);
    box-shadow: var(--shadow-medium);
    z-index: 1000;
    width: 50px;
    height: 50px;
    display: flex;

}

.scrollButton:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-soft);
}

.show {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 480px) {
    .scrollButton {
        bottom: 1rem;
        right: 1rem;
        padding: 0.6rem;
    }
}